# Project Files
.vs/
**.sln
**.vcxproj
**.vcxproj.user
**.vcxproj.filters
JSON/

# Build Artifacts
bin/
# Compiled shaders
*.spv
*.u32

# Conan
conaninfo.txt
conanbuildinfo.*
conan.lock
graph_info.json